<div class="row">
    <div class="col-md-4 card">
    <ul class="list-group">
        <b>Product Image</b>
    
    
    <li class="list-group-item">
   
        <div *ngIf="data.photo[0]!=null; else no_image">

          <img src={{imgBaseUrl}}{{data.photo[0]}}  height="250" width="150" >
        </div>  
        <ng-template #no_image>
          <img src={{imgBaseUrl}}no_image.jpg  height="250" width="150" >
        </ng-template>
        
    
      
    
    </li>
    </ul>
    </div>
    <div class="col-md-4 card">
      <ul class="list-group">
        <b>Product Name:</b>
        
        <a (click)="getproductdetails(data.id)"><li class="list-group-item" style="text-transform: capitalize;color: blue;">{{data.name}}</li></a>
        <b>Product Description:</b>
        <li class="list-group-item">{{data.details}}</li>
      </ul>
      </div>
      <div class="col-md-4 card ">
      <ul class="list-group">
        <b>Price Details</b>
        <li class="list-group-item">
          
             
              <ul class="list-group">
              <li class="list-group-item">
                Price:&#8377;{{data.rates.sale_price}}</li>
                <li class="list-group-item">
                  Discount:&#8377;{{data.rates.discount_in_percentage}}</li>
                <li class="list-group-item">
                    Actual Price:&#8377;{{data.rates.actual_price}} 	</li>
          
          </ul><br>
          
  
        </li>
      </ul>
      </div>


</div>

